<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="emilien.tetu.taptogo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".koin.TapToGo"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.TapToGo">
        <activity android:name=".ui.navigation.NavigationActivity"></activity>
        <activity android:name=".ui.details.DetailStationActivity" />
        <activity android:name=".ui.filter.FilterActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyNMYIvOGWd3tXMEwpkLfuqKV1mNly5J8" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>